Someone has created a {{loginSubjectName}} account with this email address. If this was you, click the link below to verify your email address.

{{link}}

This link will expire within {{#linkExpirationFormatter}}{{linkExpiration}}{{/linkExpirationFormatter}}.

If you didn't create this account, just ignore this message.
