To update your {{realmName}} account with email address {{newEmail}}, click the link below

{{link}}

This link will expire within {{#linkExpirationFormatter}}{{linkExpiration}}{{/linkExpirationFormatter}}.

If you don't want to proceed with this modification, just ignore this message.
