Someone wants to link your "{{realmName}}" account with "{{identityProviderLinkBody}}" account of user {{identityProviderContext.username}} . If this was you, click the link below to link accounts.

{{link}}

This link will expire within {{#linkExpirationFormatter}}{{linkExpiration}}{{/linkExpirationFormatter}}.

If you don't want to link account, just ignore this message. If you link accounts, you will be able to login to {{realmName}} through {{identityProviderDisplayName}}.
