Someone just requested to change your {{realmName}} account's credentials. If this was you, click on the link below to reset them.

{{link}}

This link and code will expire within {{#linkExpirationFormatter}}{{linkExpiration}}{{/linkExpirationFormatter}}.

If you don't want to reset your credentials, just ignore this message and nothing will be changed.
