target/
*~
*.DS_Store
tmp/*
data/*
.pnpm-store/
dependency-reduced-pom.xml
.classpath
NOTES
.factorypath
.project
.settings/
themes/attributes-v3/node_modules/
themes/attributes-v3/node/
themes/attributes-v3/dist/
themes/attributes-v3/dist_keycloak/
themes/admin-ui/node_modules/
themes/phasetwo-admin-ui/node/
themes/admin-ui/dist/
themes/admin-ui/dist_keycloak/
