.login-pf body {
  background: var(--pf-v5-global--BackgroundColor--100);
}

div.kc-logo-text {
  background-size: contain;
  background-position: center;
  height: 130px;
  width: 130px;
}

#kc-header-wrapper {
  color: #363636;
}

a {
  color: var(--pf-v5-global--link--Color);
}

.login-pf a:hover {
  color: var(--pf-v5-global--link--Color--hover);
}

input[type="text"]:focus,
input[type="text"]:focus-within,
input[type="text"]:focus-visible,
input[type="password"]:focus,
input[type="password"]:focus-within,
input[type="password"]:focus-visible {
  outline: var(--pf-v5-global--active-color--100) auto 1px;
}

#kc-social-providers svg:not(.google) {
  filter: none;
  color: var(--pf-v5-global--primary-color--100);
}

#kc-social-providers svg:not(.google) path,
#kc-social-providers svg:not(.google) circle,
#kc-social-providers svg:not(.google) rect,
#kc-social-providers svg:not(.google) polygon {
  fill: currentColor;
  stroke: currentColor;
}
