.login-pf body {
  background: var(--pf-global--BackgroundColor--100);
}

div.kc-logo-text {
  background-size: contain;
  background-position: center;
  height: 130px;
  width: 130px;
}

#kc-header-wrapper {
  color: #363636;
}
