.login-pf body {
  background: var(--pf-global--BackgroundColor--100);
}

div.kc-logo-text {
  background-size: contain;
  background-position: center;
  height: 130px;
  width: 130px;
}

#kc-header-wrapper {
  color: #363636;
}

a {
  color: var(--pf-global--link--Color);
}

.login-pf a:hover {
  color: var(--pf-global--link--Color--hover);
}

input[type="text"]:focus,
input[type="text"]:focus-within,
input[type="text"]:focus-visible,
input[type="password"]:focus,
input[type="password"]:focus-within,
input[type="password"]:focus-visible {
  outline: var(--pf-global--active-color--100) auto 1px;
}
