<p>This is a test message.</p>
<p>Realm: {{loginSubjectName}}</p>
{{#user}}
<p>Username: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>FirstName: {{user.firstName}}</p>
<p>LastName: {{user.lastName}}</p>
{{/user}}
