<html>
<body>
    <p>Someone has created a {{realmName}} account with this email address. If this was you, click the link below to verify your email address</p><p><a href="{{link}}">Link to e-mail address verification</a></p><p>This link will expire within {{#linkExpirationFormatter}}{{linkExpiration}}{{/linkExpirationFormatter}}.</p><p>If you didn''t create this account, just ignore this message.</p>
</body>
</html>
