<html>
<body>
    <p>To update your {{realmName}} account with email address {{newEmail}}, click the link below</p><p><a href="{{link}}">{{link}}</a></p><p>This link will expire within {{#linkExpirationFormatter}}{{linkExpiration}}{{/linkExpirationFormatter}}.</p><p>If you don''t want to proceed with this modification, just ignore this message.</p>
</body>
</html>
