<html>
<body>
    <p>Your administrator has just requested that you update your {{loginSubjectName}} account by performing the following action(s):{{#requiredActions}} {{#requiredActionFormatter}}{{.}}{{/requiredActionFormatter}}{{/requiredActions}}. Click on the link below to start this process.</p><p><a href="{{link}}">Link to account update</a></p><p>This link will expire within {{#linkExpirationFormatter}}{{linkExpiration}}{{/linkExpirationFormatter}}.</p><p>If you are unaware that your administrator has requested this, just ignore this message and nothing will be changed.</p>
</body>
</html>
