<html>
<body>
    <p>{{email}} has been invited to join {{orgName}} at {{loginSubjectName}} by {{inviterName}}. To accept or reject this invitation, click on the link below to log in.</p><p><a href="{{link}}">{{link}}</a></p>
</body>
</html>
