<html>
<body>
    <p>Someone requested a login link to {{realmName}}</p><p><a href="{{magicLink}}">Click to log in</a>.</p><p>If you did not request this link, please ignore this email.</p>
</body>
</html>