<html>
<body>
    <p>Someone requested a one-time-password to login to {{loginSubjectName}}.</p>
    <p><b>Code: {{code}}</b></p>
    <p>If you did not request this code, please ignore this email.</p>
</body>
</html>
